{% extends 'base.html' %}
{% block content %}

{% if current_user.is_authenticated %}
  <div class="purr">
  {% include "avatar_snippet.html" with user=current_user %}
  <form class="purrform data" action="/" method="post">
     {% csrf_token %}
     {{ form }}
     <input type="submit" value="Purr">
  </form>
  </div>
</section>
  <hr>
<section>
{% endif %}

{% for purr in purrs %}
<div class="purr">{% include "purr.html" with purr=purr %}</div>
    {% for reply in purr.replies %}
    <div class="purr reply">{% include "purr.html" with purr=reply %}</div>
    {% endfor %}
{% endfor %}

{% endblock %}
